{% extends 'Layout/Layout.html.twig' %}

{% block title %}
<div class="hero-posts">
    <p class="page-title fs-4 text text-reset text-center">
        Posts
    </p>
</div>
{% endblock %}

{% block body %}
    <section class="vh-60">
        <form method="POST" action="index.php?action=Admin\Post\AdminPostPublish" id="formList">
            <input type="hidden" id="validation" name="validation" value="1">
            <div class="col col-md-4 d-flex justify-content-start fs-6">
                <input type="text" class = "w-75 ms-2" name="searchString" id="searchString" aria-describedby="searchLabel" placeholder="Rechercher">
                <button class="border-0 bg-transparent" type="submit" id="btnSearchPost">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-binoculars" viewBox="0 0 16 16">
                        <path d="M3 2.5A1.5 1.5 0 0 1 4.5 1h1A1.5 1.5 0 0 1 7 2.5V5h2V2.5A1.5 1.5 0 0 1 10.5 1h1A1.5 1.5 0 0 1 13 2.5v2.382a.5.5 0 0 0 .276.447l.895.447A1.5 1.5 0 0 1 15 7.118V14.5a1.5 1.5 0 0 1-1.5 1.5h-3A1.5 1.5 0 0 1 9 14.5v-3a.5.5 0 0 1 .146-.354l.854-.853V9.5a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v.793l.854.853A.5.5 0 0 1 7 11.5v3A1.5 1.5 0 0 1 5.5 16h-3A1.5 1.5 0 0 1 1 14.5V7.118a1.5 1.5 0 0 1 .83-1.342l.894-.447A.5.5 0 0 0 3 4.882V2.5zM4.5 2a.5.5 0 0 0-.5.5V3h2v-.5a.5.5 0 0 0-.5-.5h-1zM6 4H4v.882a1.5 1.5 0 0 1-.83 1.342l-.894.447A.5.5 0 0 0 2 7.118V13h4v-1.293l-.854-.853A.5.5 0 0 1 5 10.5v-1A1.5 1.5 0 0 1 6.5 8h3A1.5 1.5 0 0 1 11 9.5v1a.5.5 0 0 1-.146.354l-.854.853V13h4V7.118a.5.5 0 0 0-.276-.447l-.895-.447A1.5 1.5 0 0 1 12 4.882V4h-2v1.5a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5V4zm4-1h2v-.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5V3zm4 11h-4v.5a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5V14zm-8 0H2v.5a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5V14z"/>
                      </svg>
                </button>
            </div>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col"></th>
                        <th class="fs-6" scope="col">Date de création</th>
                        <th class="fs-6" scope="col">Titre de l'article</th>
                        <th class="fs-6" scope="col">Statut</th>
                        <th class="d-flex justify-content-evenly" scope="col">
                            <button class="border-0 bg-transparent" type="submit">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#000000" class="bi bi-send" viewBox="0 0 16 16">
                                    <path d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576 6.636 10.07Zm6.787-8.201L1.591 6.602l4.339 2.76 7.494-7.493Z"/>
                                </svg>
                            </button>
                            <button id="btnDevalidation"" class="border-0 bg-transparent" type="submit">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#000000" class="bi bi-send" viewBox="0 0 16 16">
                                    <path d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576 6.636 10.07Zm6.787-8.201L1.591 6.602l4.339 2.76 7.494-7.493Z"/>
                                    <path d="M 15.410419,15.47141 0.48792884,0.48792884 Z" style="fill:#000000;stroke:#000000;stroke-opacity:1;stroke-width:0.5;stroke-dasharray:none"/>
                                    <path d="M 0.46759848,0.50825921 15.227446,15.47141 Z" style="fill:#000000"/>
                                </svg>
                            </button>
                            <a href="index.php?action=Admin\Post\AdminPostCreation">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#000000" class="bi bi-plus-circle" viewBox="0 0 16 16">
                                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                                </svg>
                            </a>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for post in posts  %}
                        <tr>
                            <td>
                                <input type="checkbox" name="postValidation[]" class="form-check-input" value="{{ post.id }}">
                            </td>
                            <td>{{ post.creationDate|date('Y-m-d') }}</td>
                            <td>{{ post.title }}</td>
                            <td>
                                {% if post.publicationDate != '' %}
                                <span class="text-success">Publié</span>
                                {% else %}
                                <span class="text-warning">Brouillon</span>
                                {% endif %}
                            </td>
                            <td class="d-flex justify-content-evenly">
                                <a href="index.php?action=Admin\Post\AdminPostModification&postId={{ post.id }}">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                                    </svg>
                                </a>
                                <a class="btn border-0 bg-transparent px-2 d-flex align-items-center rowAction btnDeletion" data-action="Suppression" data-id='index.php?action=Admin\Post\AdminPostDeletion&postId={{ post.getId() }}'' data-message='Confirmez-vous la suppression du post {{ post.getTitle() }} ?' data-bs-toggle="modal" data-bs-target="#confirmationModal">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#0d6efd" class="bi bi-trash" viewBox="0 0 16 16">
                                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"/>
                                        <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"/>
                                    </svg>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    
                    </tbody>
                </table>
            </div>
        </form>
    </section>
    <section>
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                <li class="page-item
                    {% if actualPage == 1 %}
                        disabled
                    {% endif %}
                ">
                    <a class="page-link" href="index.php?action=Admin\Post\AdminPostList&pageNumber=1" tabindex="-1">Premier</a>
                </li>
                <li class="page-item
                    {% if actualPage == 1 %}
                        disabled
                    {% endif %}
                ">
                    <a class="page-link" href="index.php?action=Admin\Post\AdminPostList&pageNumber={{ actualPage - 1 }}" tabindex="-1">Precédent</a>
                </li>
                {% for i in 1..totalPages %}
                    <li class="page-item"><a class="page-link
                    {% if actualPage == i %}
                        text-decoration-underline
                    {% endif %}
                    " href="index.php?action=Admin\Post\AdminPostList&pageNumber={{ i }}">{{ i }}</a></li>
                {% endfor %}
                <li class="page-item 
                    {% if actualPage == totalPages %}
                        disabled
                    {% endif %}
                ">
                <a class="page-link" 
                    {% if actualPage < totalPages %}
                        href="index.php?action=Admin\Post\AdminPostList&pageNumber={{ actualPage + 1 }}"
                    {% else %}
                        href="index.php?action=Admin\Post\AdminPostList&pageNumber={{ totalPages }}"
                    {% endif %}
                >Suivant</a>
                <li class="page-item
                    {% if actualPage == totalPages %}
                        disabled
                    {% endif %}
                ">
                    <a class="page-link" href="index.php?action=Admin\Post\AdminPostList&pageNumber={{ totalPages }}">Dernier</a>
                  </li>
                </li>
            </ul>
          </nav>
    </section>
{% endblock %}

{% block js %}
    <script src="Js/Classes/AdminList.js"></script>
    <script src="Js/Classes/AdminPostList.js"></script>
    <script src="Js/Classes/Disconnexion.js"></script>
    <script src="Js/Classes/AlertMessage.js"></script>
    <script>
        adminPostList = new AdminPostList();
        disconnexion = new Disconnexion();
    </script>
    {% if alert == true and alertMessage != "" %}
        <script>
            alertMessage = new AlertMessage();
        </script>
    {% endif %}
{% endblock %}