{% extends 'Layout/Layout.html.twig' %}

{% block title %}
<div class="hero-posts">
    <p class="page-title fs-4 text text-reset text-center">
        Post
    </p>
</div>
{% endblock %}

{% block body %}
    <section class="container-fluid">
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8 d-flex justify-content-end mt-2 me-2">
                <a href="index.php?action=Admin\Post\AdminPostList&pageNumber=1">Retour</a>
            </div>
            <div class="col-lg-2"></div>
        </div>
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8 m-4 p-3 shadow rounded">
                <form method="post" enctype="multipart/form-data" action="index.php?action=Admin\Post\AdminPostSave" id="formPost">
                    <div class="row mb-2">
                        <input type="hidden" name="postId" value="{{ post.id }}">
                        <input type="hidden" name="postValidation" value="{{ post.id }}">
                        <input type="hidden" name="validation" id="validation" value="false">
                        <div class="col-sm-4">
                            <div class="w-100 d-flex flex-column me-2">
                                <label for="imagePath">
                                    <img class="img-post" src="
                                    {% if post.imagePath != "" %}
                                        {{ post.imagePath }}
                                    {% else %}
                                        img/blog-post.svg
                                    {% endif %}
                                " alt="Image du post" id="imagePost">
                                </label>
                                <input type="file" accept=".png, .jpeg, .jpg, .svg" class="form-control d-none" name="imagePath" id="imagePath" value="{{ post.imagePath }}">
                                <input type="hidden" class="form-control" name="resetImage" id="resetImage" value="false">
                                <button type="button" class="btn btn-link fs-6" id="btnResetImage">Réinitialiser l'image</button>
                            </div>
                        </div>
                        <div class="col-sm-8 d-flex flex-column">
                            <label class="form-label fs-6" for="postTitle">Titre</label>
                            <input type="text" class="form-control" name="postTitle" id="postTitle" value="{{ post.title }}">
                            <div class="text-danger">{{ warningTitle }}</div>
                            <label class="form-label fs-6 mt-2" for="postSummary">Résumé</label>
                            <textarea rows="3" class="form-control" name="postSummary" id="postSummary">{{ post.summary }}</textarea>
                            <div class="text-danger">{{ warningSummary }}</div>
                        </div>    
                        <div class="text-danger">{{ warningImage }}</div>       
                    </div>
                    <div class="row mb-2">
                        <div class="col-12 d-flex flex-column">
                            <label for="postContent" class="form-label fs-6">Contenu</label>
                            <textarea rows="5" name="postContent" id="postContent" class="form-control">{{ post.content }}</textarea>
                            <div class="text-danger">{{ warningContent }}</div>
                            <div class="col-lg-4 my-2 me-2 fs-6">Rédigé par {{ post.user.name }} {{ post.user.surname }}</div>
                            {% if post.modifier.name != "" %}
                                <div class="col-lg-4 my-2 fs-6">Modifié par {{ post.modifier.name }} {{ post.modifier.surname }}</div> 
                            {% endif %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 d-flex justify-content-end">
                            <button type="submit" class="col-md-2 col-sd-4 btn button text-light me-3">Enregistrer</button>
                            <button type="submit" id="btnValidation" class="col-md-2 col-sd-4 btn button text-light me-3">Publier</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-lg-2"></div>
    </section>
{% endblock %}

{% block js %}
    <script src="Js/Classes/AdminPost.js"></script>
    <script src="Js/Classes/Disconnexion.js"></script>
    <script src="Js/Classes/AlertModal.js"></script>
    <script>
        adminPost = new AdminPost();
        disconnexion = new Disconnexion();
    </script>
{% endblock %}