{% extends 'layout.twig' %}

{% block title %}
    Explorez l'univers du développement web avec Christophe Martel : 
    des lignes de code qui transforment vos idées en réalité numérique.
{% endblock %}

{% block body %}
    <section>
        <div class="container-fluid d-flex align-items-center body-container">
            <div class="contact-form rounded-corners shadow f-flex justify-content-center" id="containerContactForm">
                <form method="post" action="index.php?action=home" class="formulaire" id="contactForm" novalidate>
                    <div class="d-flex mb-4 contact-form-name">
                        <div class="me-5 w-50">
                            <label for="surname" class="form-label text-light font-size3 h-50">Nom</label>
                            <input type="text" class="form-control h-50" id="surname" name="surname" required>
                            <div class="avertissement font-size3" id="alertSurname">{{ warningSurname }}</div>
                        </div>
                        <div class="w-50">
                            <label for="name" class="form-label text-light font-size3 h-50">Prénom</label>
                            <input type="text" class="form-control h-50" id="name" name="name" required>
                            <div class="avertissement font-size3" id="alertName">{{ warningName }}</div>
                        </div>
                    </div>
                    <div class="mb-4 contact-form-email">
                        <label for="email" class="form-label text-light font-size3 h-50">Adresse Email</label>
                        <div class="input-group h-50">
                            <span class="input-group-text" id="inputGroupPrepend">@</span>
                            <input type="email" class="form-control" id="email" name="email" aria-describedby="inputGroupPrepend" required>
                        </div>
                        <div class="avertissement font-size3" id="alertEmail">{{ warningEmail }}</div>
                    </div>
                    <div class="mb-4 message contact-form-message">
                        <label for="message" class="form-label text-light font-size3 h-25">Message</label>
                        <textarea class="form-control h-75" id="message" name="message" maxlength="500" form="contactForm" rows="2" required></textarea>
                        <div class="avertissement font-size3" id="alertMessage">{{ warningMessage }}</div>
                    </div>
                    <div class="d-flex justify-content-center contact-form-button">
                        <button type="submit" class="text-light font-size3 d-flex justify-content-center align-items-center">
                            <span>Envoyer</span> 
                        </button>
                    </div>
                </form>
                <div>{{ messageResponse }}</div>
            </div>

            <div class="presentation d-flex flex-column justify-content-around align-items-center shadow p-3 mb-5 rounded-corners">
                <img class= "photo rounded-circle" src="img/photo.jpeg" alt="photo Christophe Martel">
                <p class="text-light font-size3">Christophe Martel</p>
                <p class="text-light font-size3">Développeur Web</p>
                <p class="text-light font-size3"><a href="img/CV.pdf" target="_blank">CV</a></p>
                <div class="d-flex justify-content-center socials">
                    <img class="me-4 h-100" src="img/twitter.png" alt="Twitter icon">
                    <img class="me-4 h-100" src="img/facebook.png" alt="Facebook icon">
                    <img class="h-100" src="img/linkedin.png" alt="Linkedin icon">
                </div>
            </div>
        </div>
    </section>
{% endblock %}