{% extends 'layout.twig' %}

{% block body %}
    <section class="container-fluid d-flex justify-content-center">
        <div class="m-4 p-3 shadow rounded w-75">
            <form method="post" action="index.php?action=adminPostSave">
                <div class="d-flex">
                    <input type="text" class="d-none" name="postId" value="{{ post.id }}">
                    <div class="w-25">
                        <img src="{{ post.imagePath }}" alt="Image du post">
                        <input class="form-control d-none" name="imagePath" id="imagePath" value="{{ post.imagePath }}">
                    </div>
                    <div class="d-flex flex-column w-75">
                        <label class="form-label font-size3" for="postTitle">Titre</label>
                        <input type="text" class="form-control" name="postTitle" id="postTitle" value="{{ post.title }}">
                        <label class="form-label font-size3" for="postSummary">Résumé</label>
                        <textarea rows="3" class="form-control" name="postSummary" id="postSummary">{{ post.summary }}</textarea>
                    </div>           
                </div>
                <label for="postContent" class="form-label font-size3">Contenu</label>
                <textarea rows="5" name="postContent" id="postContent" class="form-control">{{ post.content }}</textarea>
                <div class="d-flex">
                    <div class="me-2 font-size3">Rédigé par {{ post.user.name }} {{ post.user.surname }}</div>
                    <div class="font-size3">Modifié par {{ post.modifier.name }} {{ post.modifier.surname }}</div> 
                    <div class="text-danger"{{ warningGlobal }}></div>
                </div>
                <div class="d-flex justify-content-end">
                    <button type="submit" class="btn button text-light me-3 w-15">Enregistrer</button>
                    <a href="index.php?action=adminPostPublish&postId="{{ post.id }} class="btn button text-light w-15">Publier</a>
                </div>
            </form>
        </div>
        
    </section>
{% endblock %}