{% extends 'layout.twig' %}

{% block body %}
    <section class="vh-60">
        <div class="post-background-color m-4 shadow rounded">
            <div class="d-flex vh-40">
                <div class="w-25">
                    <img class="w-100 rounded" src="{{ post.imagePath }}" alt="Image du post">
                </div>
                <div class="d-flex flex-column w-100">
                    <div class="fs-5 text-white text-center my-3 p-3">{{ post.title }}</div>
                    <div class="text-white p-3">{{ post.summary }}</div>
                </div>
            </div>
            <div class="w-100 text-white p-4">
                {{ post.content }}
            </div>
        </div>
    </section>
    
    <!-- Navigation-->
    <section>
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                <li class="page-item
                    {% if firstPostId == post.id %}
                        disabled
                    {% endif %}
                ">
                    <a class="page-link" href="index.php?action=postDisplay&postId={{ firstPostId }}" tabindex="-1">Premier</a>
                </li>
                <li class="page-item
                    {% if previousPostId >= post.id %}
                        disabled
                    {% endif %}
                ">
                    <a class="page-link" href="index.php?action=postDisplay&postId={{ previousPostId }}" tabindex="-1">Precédent</a>
                </li>
                <li class="page-item
                    {% if post.id >= nextPostId %}
                        disabled
                    {% endif %}
                ">
                    <a class="page-link" href="index.php?action=postDisplay&postId={{ nextPostId }}">Suivant</a>
                </li>
                <li class="page-item
                    {% if post.id == lastPostId %}
                        disabled
                    {% endif %}
                ">
                    <a class="page-link" href="index.php?action=postDisplay&postId={{ lastPostId }}">Dernier</a>
                </li>
            </ul>
          </nav>
    </section>
{% endblock %}