{% extends 'Layout/Layout.html.twig' %}

{% block title %}
<div class="hero-blog">
    <p class="page-title fs-4 text text-body text-center">
        Nos blog posts
    </p>
</div>
{% endblock %}

{% block body %}
<section class="page-content mt-5">
    <div class="container-fluid px-5">
        <div class="row justify-content-evenly">
            {% for post in posts %}
            <a class="col-lg-6 col-sd-12 g-4 text-reset text-decoration-none" style="max-width: 540px;" href="index.php?action=Post\PostDisplay&postId={{ post.id }}">
                <div class="card p-0 mb-3 h-100 shadow" >
                    <div class="row g-0 h-75">
                        <div class="col-md-4">
                            <img class="w-100 post-card-image rounded-start" src="{{ post.imagePath }}" alt="Image du post">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <p class="fs-5">{{ post.title }}</p>
                                </h5>
                                <p class="card-text w-100 overflow-auto">
                                    {{ post.summary }}
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row g-0 h-25">
                        <p class="d-flex flex-column justify-content-end align-items-end pe-2"><small class="text-body-secondary">Rédigé par {{ post.getUser().getPseudo() }} le {{ post.getCreationDate() | date('d/m/Y') }}</small></p>
                    </div>
                </div>
            </a>       
            {% endfor %}
        </div>
    </div>
</section>

<section class="mt-5">
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            <li class="page-item
                    {% if actualPage == 1 %}
                        disabled
                    {% endif %}
                ">
                <a class="page-link" href="index.php?action=Post\PostList&pageNumber=1" tabindex="-1">Premier</a>
            </li>
            <li class="page-item
                    {% if actualPage == 1 %}
                        disabled
                    {% endif %}
                ">
                <a class="page-link" href="index.php?action=Post\PostList&pageNumber={{ actualPage - 1 }}"
                    tabindex="-1">Precédent</a>
            </li>
            {% for i in 1..totalPages %}
            <li class="page-item"><a class="page-link
                    {% if actualPage == i %}
                        text-decoration-underline
                    {% endif %}
                    " href="index.php?action=Post\PostList&pageNumber={{ i }}">{{ i }}</a></li>
            {% endfor %}
            <li class="page-item 
                    {% if actualPage == totalPages %}
                        disabled
                    {% endif %}
                ">
                <a class="page-link" {% if actualPage < totalPages %}
                    href="index.php?action=Post\PostList&pageNumber={{ actualPage + 1 }}" {% else %}
                    href="index.php?action=Post\PostList&pageNumber={{ totalPages }}" {% endif %}>Suivant</a>
            <li class="page-item
                    {% if actualPage == totalPages %}
                        disabled
                    {% endif %}
                ">
                <a class="page-link" href="index.php?action=Post\PostList&pageNumber={{ totalPages }}">Dernier</a>
            </li>
            </li>
        </ul>
    </nav>
</section>
{% endblock %}

{% block js %}
    <script type="module">
        import Disconnexion from "./Js/Classes/Disconnexion.js";
        let disconnexion = new Disconnexion();
    </script>
{% endblock %}