{% extends 'Layout/layout.html.twig' %}

{% block title %}
Nos blog posts
{% endblock %}

{% block body %}
<section class="vh-60 mt-5">
    <div class="container-fluid px-5">
        <div class="row row-cols-1 row-cols-md-2 g-4 d-flex justify-content-around">
            {% for post in posts %}
            <div class="card mb-3 shadow" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <a href="index.php?action=Post\PostDisplay&postId={{ post.id }}">
                            <img class="w-100 rounded-start" src="{{ post.imagePath }}" alt="Image du post">
                        </a>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">
                                <a class="text-reset text-decoration-none"
                                    href="index.php?action=Post\PostDisplay&postId={{ post.id }}">
                                    <p class="fs-5">{{ post.title }}</p>
                                </a>
                            </h5>
                            <p class="card-text w-100 overflow-auto">
                                {{ post.summary }}
                            </p>
                            <p class="card-text"><small class="text-body-secondary">Rédigé par {{ post.getUser().getPseudo() }} le {{ post.getCreationDate() | date('d/m/Y') }}</small></p>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

<section class="mt-5">
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            <li class="page-item
                    {% if actualPage == 1 %}
                        disabled
                    {% endif %}
                ">
                <a class="page-link" href="index.php?action=Post\PostList&pageNumber=1" tabindex="-1">Premier</a>
            </li>
            <li class="page-item
                    {% if actualPage == 1 %}
                        disabled
                    {% endif %}
                ">
                <a class="page-link" href="index.php?action=Post\PostList&pageNumber={{ actualPage - 1 }}"
                    tabindex="-1">Precédent</a>
            </li>
            {% for i in 1..totalPages %}
            <li class="page-item"><a class="page-link
                    {% if actualPage == i %}
                        text-decoration-underline
                    {% endif %}
                    " href="index.php?action=Post\PostList&pageNumber={{ i }}">{{ i }}</a></li>
            {% endfor %}
            <li class="page-item 
                    {% if actualPage == totalPages %}
                        disabled
                    {% endif %}
                ">
                <a class="page-link" {% if actualPage < totalPages %}
                    href="index.php?action=Post\PostList&pageNumber={{ actualPage + 1 }}" {% else %}
                    href="index.php?action=Post\PostList&pageNumber={{ totalPages }}" {% endif %}>Suivant</a>
            <li class="page-item
                    {% if actualPage == totalPages %}
                        disabled
                    {% endif %}
                ">
                <a class="page-link" href="index.php?action=Post\PostList&pageNumber={{ totalPages }}">Dernier</a>
            </li>
            </li>
        </ul>
    </nav>
</section>
{% endblock %}